.menu {
    padding-bottom: 1rem;
    display: flex;

    border-bottom: 2px solid var(--secondary-bgcolor);
}

.wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: right;

    font-size: 1.5rem;
}

.menu-button {
    height: inherit;

    align-self: center;
}