



.wrapper-header {
    display: flex;
    font-family: "Golos Text", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.primary-text {
    margin-right: 0.75rem;

    color: var(--primary-color);
}

.secondary-text {
    color: var(--brand-color);
}