
APP_NAME=OrderService
DEBUG=true

ORDER_SERVICE_HOST=0.0.0.0
ORDER_SERVICE_PORT=8000

WORKER_SERVICE_HOST=0.0.0.0
WORKER_SERVICE_PORT=8001

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=123456

SECRET_KEY=your-secret-key-here-change-in-production