


.wrapper {
    margin-bottom: 1rem;
    display: flex;
    justify-self: left;
    align-self: left;
}

.parametrSettings-name {
    margin-right: 1rem;
}

.parametrSettings-operator {
    margin-right: 1rem;
}

.parametrSettings-value {
    margin-right: 1rem;
}